*{box-sizing: border-box}
img{width: 100%; display:block;}

/*productlist.js*/
.productlist{
  text-align: center;
  color: darkgreen;
}
.cardcontainer{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.card{
  border: solid gray 1px;
  width: 200px;
  margin:2rem;
  padding: 1rem;
  border-radius: 5px;
}
.productname{
  text-align: center;
  font-weight: bolder;
}

.productname span{
  font-size: 1.5rem;
  color:crimson;
  margin-left: 0.5rem;
}
.productname s{

  color:dark gray;
  margin-left: 0.2rem;
}
.btn_addcart{
  width: 100%;
  border: none;
  background-color: darkgreen;
  color:white;
  padding: 0.5rem;
  border-radius: 3px;
}
.btn_addcart:hover{
  background-color: crimson;
  box-shadow: 0px 0px 1px gray;
}

/*cart.js*/
.carttitle{
  color: darkgreen;
  text-align: center;
}
.cartcontainer{
  width: 1000px;
  margin: 2rem auto;
  border: solid 1px gray;
  padding: 1rem;
}
.emptymsg{
  font-size: 1.5rem;
  font-weight: bolder;
  color:gray;

}
.itemcart{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px lightgray;
  font-size: 1rem;
}
.cartitemimg{
  width: 80px;
  padding: 0.5rem;
}
.cartitemname{
  flex: 1;
  padding-left: 1rem;
  font-weight: bold;
}
.cartitemprice, .cartitemquantity, .cartitemtotal{
  width: 100px;
  text-align: center;
  padding: 0.5rem;
}
.btncartremove{
  color: crimson;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.btncartremove:hover{
  font-weight: bolder;
  text-decoration: underline;
}

.totalcart{
  border-top: solid 2px gray;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 1rem 0rem;
  text-align: right;
  margin-top: 1rem;
}