*{box-sizing: border-box;}

.App{
  font-family: 'Courier New', Courier, monospace;
}
.myform{

  width: 100%;
  margin: auto;
  padding:2rem;
  box-shadow: 1px 1px 5px gray;
  background-color: azure;
}
.myform fieldset legend{
  padding:1.5rem;
  background-color: white;
  border: solid gray 1px;
  text-align: center;
}
#name{
  padding: 0.5rem 1rem;
  border: solid gray 1px;
}
.formgroup{
  margin-bottom: 2rem;
}
label{
  width: 200px;
  display:inline-block
}
textarea{
  display:block;
  width: 100%;
  height: 200px;
  padding:1rem;
}
.btnsubmit{
  padding: 0.5rem 2rem;
  background-color: green;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
  border-radius: 10px;
}
.btnsubmit:hover{
  background-color: crimson;
  font-weight: bolder;
  box-shadow: 0px 0px 3px 1px gray;
  cursor: pointer;
}