body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CARD - COMMENTS.JS */
.card{
padding: 1em;
width: 90%;
text-align: center;
margin: 1em auto;
border-radius: 10px;
transition: ease-in-out 100ms;
display: flex;
flex-direction: column;
align-items: center;
}
.avatar{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}
.avatar img{
  max-width: 100%;
  max-height: 120px;
  width: auto;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.content{
font-size: 1.1em; font-weight: 900;
}
.metadata{
font-size:0.8em; color: #888;
}
.container{
display: flex;
justify-content: center;
flex-wrap: nowrap;
}

/* USER_FEEDBACK.JS */
.feedbackcard{
  width: 300px;
  border: #888 solid 1px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}
.cardfooter{
  background-color: #888;
  padding: 0.2em;
  color: aliceblue;
}
.feedbackcontainer:hover{
  box-shadow: 0px 0px 10px 1px gray;
  transform: scale(1.01);
  overflow: hidden;
  border-radius: 10px;
}
.feedbackcontainer{
  margin: 1%;
}


.addicon{
  cursor: pointer;
  user-select: none;
}

/* MODAL WINDOW */
.modalwindow{
  background-color: rgba(200,200,200,0.7);
  position: fixed;
  top:0%; bottom: 0%; right: 0%; left: 0%;
  display: none;
  z-index: 9999;
}
.modalcontent{
  width: 500px; height: 300px; margin: 100px auto; background-color: white; border-radius: 6px; overflow: hidden;
}
.modalheader{
  border-bottom: ridge 1px lightgray;
  display: flex;
  flex-wrap: wrap;
  padding: 0.1em 2em;
  color: #888;
  font-weight: bolder;
}
.modalheader p:nth-child(1){ font-size: 1.1em; }
.modalheader p:nth-child(2){ margin-left: auto; cursor: pointer; }
.commentarea{
  margin: 2em; padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px lightgray;
  width: 90%;
}
.btnpostfeedback{
  margin: 2em;
  background-color: #888;
  text-align: center;
  border: none;
  padding: 10px 20px;
  color:white;
  border-radius: 5px;
}
.btnpostfeedback:hover{
  background-color: crimson;
  cursor: pointer;}
/* POST COMMENTS */
.postcomment{
  display: block;
  width: 1200px;
  margin: 2em auto;
  padding: 2em;
  background-color: rgba(200,200,200,0.5);
}

