*{box-sizing: border-box;}
img{width: 100%; display: block;}
.title{
  text-align: center;
  color: blueviolet
}

.navbar{
  background-color:aliceblue;
  width: 80%;
  margin: auto;
  display: flex;
  padding: 2rem;
}
.qcclink{width: 20%;}
.qcclink a{color:blueviolet; text-decoration: none; font-weight:bolder;}
.btngroup button{width: 80%; margin-right:auto}
.btngroup{background-color: aliceblue;width:20%,}

.qcclink:hover, Link:hover{
  color:crimson;
}